body {
	margin-top: 50px;
}

hr {
	width: 20%; 
	border: solid #CCC 0.5px; 
	text-align: left;
}

div.separator {
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: solid 1px black;
}

div.content {
	display: none; 
	margin-top: 10px;
}

div.cv {
	margin-left: 20px;
	margin-bottom: 20px;
}

.iconsize {
	font-size: 30px;
}

.iconlegend {
	font-size: 9px;
}
